@font-face {
    font-family: 'Merienda';
    src: url("assets/fonts/Merienda-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Merienda';
    src: url("assets/fonts/Merienda-Bold.ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Merienda';
    src: url("assets/fonts/Merienda-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

:root {
    --main-font: normal 2rem/2.2rem Merienda;
    --tablet-font: normal 1.7rem/1.8rem Merienda;
    --mobile-font: normal 1.2rem/1.3rem Merienda;
    --main-text-color: #422a2a;
    --highlited-text-color: #238091;
    --main-bg-color: #f5e9e9;
    --border-color: #c46b6b;
    --light-border-color: #e6b3b3;
}

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font: var(--main-font);
    color: var(--main-text-color);
    font-weight: 600;
}

.general-container {
    margin: 0 auto;
    max-width: 100vw;
    margin: 3em;
    border: 0.3em solid var(--border-color);
    border-radius: 0.8em;
    padding: 2em 3em;
    background-color: var(--main-bg-color);
}

.header {
    font-size: 2.4rem;
    line-height: 2.5rem;
    font-weight: 800;
    padding-bottom: 0.5em;
    border-bottom: 0.1em solid var(--light-border-color);
}

.main {
    color: var(--highlited-text-color);
}

.bayan-item {
    padding-top: 0.5em;
    padding-bottom: 1em;
    border-bottom: 0.1em solid var(--light-border-color);
    display: flex;
    flex-direction: column;
}

.main:hover,
.main:hover label {
    cursor: pointer;
}

.main:hover p {
    color: var(--main-text-color);
}

.label-container {
    display: flex;
    flex-direction: column;
}

.input-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio-circle {
    opacity: 0;
}

.arrow {
    width: 1em;
    height: 1em;
    display: none;
    transition: all 1s linear;
}

.main:hover .arrow {
    display: block;
}

.bayan-item:hover .arrow {
    transform: rotate(180deg);
}

.mem {
    width: 0em;;
    height: 0em;
    align-self: center;
    background-size: cover;
    border: none;
    transition: all 1s linear;
}

.bayan-item:hover .mem {
    width: 20em;
    height: 10em;
    border: 0.1em solid var(--light-border-color);
    border-radius: 0.5em;
}

.mem-1 {
    background-image: url(assets/img/gif/1-cant-copy.gif);
}

.mem-2 {
    background-image: url(assets/img/gif/2-keep-calm.gif);
}

.mem-3 {
    background-image: url(assets/img/gif/3-work-life-balance.gif);
}

.mem-4 {
    background-image: url(assets/img/gif/4-dude-wheres-js.gif);
}

.mem-5 {
    background-image: url(assets/img/gif/5-relax-takteasy.gif);
}

input:active ~ .input-title > p {
    color: var(--highlited-text-color);
}

input:checked ~ .input-title > p {
    color: var(--main-text-color);
}

input:checked ~ .mem {
    width: 20em;
    height: 10em;
    border: 0.1em solid var(--light-border-color);
    border-radius: 0.5em;
}

input:checked ~ .input-title > .arrow {
    display: block;
    transform: rotate(180deg);
}

.footer {
    font: var(--tablet-font);
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: all 1s linear;
}

a:visited {
    color: var(--main-text-color);
}

.rs-logo {
    width: 4.1em;
    height: 2em;
}

/*.blur {
    filter: blur(0.1em);
    transition: all 1s linear;
}
*/






@media (max-width: 810px) {
    .main:hover {
        cursor: unset;
        pointer-events: none;
    }
    .main:hover .arrow {
        pointer-events: none;
    }
}

@media (max-width: 320px) {

}
      






